@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&family=IBM+Plex+Sans+Thai+Looped:wght@100;300&family=Merriweather:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

header{
    width: 100%;
    background-color: #dfb9e2;
}
    header .imege-header img{
        width: 100%;
    }

.container{
    background: rgb(223,185,226);
    background: linear-gradient(180deg, rgba(223,185,226,1) 10%, rgba(255,255,255,1) 65%);
}
    .container .head-con {
        text-align: center;
    }
    .container .head-con h1{
        color: #ffffff;
        text-shadow: 0px 0px 5px #ae9daf;
    }

.card-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}
    .card-con .item-card{
        border: 1px solid rgb(255, 255, 255);
        box-shadow: 0px 0px 5px #808080;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vh;
        height: 10vh;
        margin: 2rem;
        transition-property: transform;
        transition-duration: 0.5s;
    }
        .card-con .item-card:hover{
            transform: scale(1.05, 1.05);
            transform-origin: center top;
            box-shadow: 0px 0px 8px #ba55d3;
            border: 1px solid #ba55d3;
        }
            a {
                text-decoration: none;
            }

.ft {
    background-color: #e6e6fa;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 5rem;
}

.icon-item {
    padding: 1rem;
}